body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sky {
    position: relative;
    width: 100%;
    height: 75%;
    background: linear-gradient(to bottom, #87afeb, #f4f4f7);
    top: 0;
}

.sun {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-color: #FFD700;
    border-radius: 50%;
    z-index: 1;
}

.sea-bottom {
    position: absolute;
    width: 100%;
    height: 45%;
    background-color: #1E90FF;
    bottom: 0;
}

#boat {
    position: absolute;
    bottom: 39%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 60px;
    z-index: 2;
}

#fishing-rod {
    background-color: #7b7b7b;
    width: 6px;
    height: 50px;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}

.string {
    background-color: #8B4513;
    width: 2px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: height 1s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(65px);
    }
    20%, 80% {
        transform: translateY(55px);
    }
    40%, 60% {
        transform: translateY(45px);
    }
    50% {
        transform: translateY(50px);
    }
}



.bounce {
    animation: bounce 0.5s ease-in-out infinite;
}

.bobber {
    background-color: #FF0000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

#timer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1E90FF; /* Background color of the progress bar */
}

#timer-bar .progress {
    height: 100%;
    width: 0; /* Initialize width to 0% */
    background-color: red; /* Color of the progress indicator */
    transition: width 1s linear; /* Adjust the transition duration if needed */
}

#score-display {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #FFF; /* Set the color of the score text */
}

#timer-display {
    position: absolute;
    display: none;
    top: 40px; /* Adjust the top position to create space between score and timer */
    right: 10px;
    font-size: 18px;
    color: #FFF; /* Set the color of the timer text */
}

#message-display {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #fff;
    z-index: 3;
}

#main-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    flex-direction: column; /* Change to column to place items vertically */
    align-items: center;
    justify-content: space-around; /* Horizontal alignment */
    border-radius: 15px; /* Add border-radius for rounded corners */
    width: 80%;
    max-width: 400px;
    height: 250px;
    background-color: rgba(135, 175, 235, 0.8);
    z-index: 10;
}

.menu-item {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

#main-menu h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive; /* Use a game-like font */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add a subtle text shadow */
}

#main-menu.closing {
    animation: closeMenu 1s forwards;
}

#main-menu.opening {
    animation: openMenu 1s forwards;
}

@keyframes closeMenu {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes openMenu {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

#play-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
